.Toastify__toast-container { /*pop up message */
    width: 200px; 
    color: black;
}

.EditItem_form{
    margin: 0 50px;
}

.updatesubmit{
    margin-right: 15px;
}

@media all and (min-width: 800px){
    .EditItem_Form{
        margin: 0 400px;
    }
}